@import "sass-mq";
@import "styles/constants";

.footer {
  @include mq($until: tablet) {
    font-size: 1.2rem;
  }

  align-items: center;
  background: #f2f2f2;
  color: #5f6368;
  display: flex;
  font-size: 1.4rem;
  height: 100%;
  justify-content: space-between;
  padding: 0 24px;

  .list {
    display: grid;
    font-size: 0;
    gap: 12px;
    grid-template: auto / repeat(4, auto);
  }
}
