.container {
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
}

.containerOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.input-wrapper {
  align-items: center;
  display: flex;
}

.icon {
  color: #9aa0a6;
  height: 20px;
  margin: 0 16px;
  width: 20px;
}

.close-icon {
  cursor: pointer;
}

.input {
  cursor: text;
  height: 44px;
  width: 100%;
}

// .inputOpen {
// }

// .inputFocused {
// }

.suggestionsContainer {
  background: #fff;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
  overflow: hidden;
  position: relative;
}

// .suggestionsContainerOpen {
// }

// .suggestionsList {
// }

.suggestion {
  height: 36px;
}

// .suggestionFirst {
// }

.suggestionHighlighted {
  background: #eee;
}

// .sectionContainer {
// }

// .sectionContainerFirst {
// }

// .sectionTitle {
// }
